:root {
  --title: #066330;
  --main-color: var(--title);
  --success: #068030;
  --success-hover: #064030;
  --hover-main-color: var(--success-hover);
  --action: #017d8a;
  --neutral: var(--action);
  --action-hover: #01608a;
  --danger: #c91a00;
  --error: var(--danger);
  --danger-hover: #a91a00;
  --negative-text-color: white;
  --text-color: black;
  --background-color: #ffffff;
  --col-bg: #cccccc;
  --hover-row: grey;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --col-bg: #303030;
    --background-color: #242424;
  }
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--title);
  text-align: center;
  margin: 0px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* --- BUTTONS ---- */

button,
input[type=button],
#navigation>* {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  font-family: inherit;
  background-color: var(--action);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 5px 10px;
  line-height: 30px;
}

button:hover,
input[type=button]:hover,
#navigation>*:hover {
  border-color: var(--text-color);
  background-color: var(--action-hover);
}

button:focus,
input[type=button]:focus,
#navigation>*:focus,
button:focus-visible,
input[type=button]:focus-visible,
#navigation>*:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: var(--text-color);
  background-color: var(--action-hover);
}

#UpdateButtons {
  justify-self: right;
}

button.success,
input[type=button].success {
  background-color: var(--success);
}

button.danger,
input[type=button].danger {
  background-color: var(--danger);
}

/* ---------- DETAILS LAYOUT ------------- */

#MainInformation label {
  font-weight: bold;
}

#MainInformation .formRow {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ----------- IMAGE --------- */

img {
  max-width: 100%;
  border: solid 1px #4a360c;
  box-shadow: 10px 10px var(--main-color);
}

/* TABLE LAYOUT */

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--hover-row);
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--col-bg);
}

tr:hover {
  cursor: pointer;
  background-color: var(--hover-row);
}

th {
  cursor: default;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main-color);
  color: var(--negative-text-color);
}

/*------------ ROUTERLINK ------------*/

a {
  font-weight: 500;
}

a:link,
a:visited {
  background-color: var(--main-color);
  color: var(--negative-text-color);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: var(--hover-main-color);
}

/* ----- FORM LAYOUT ---------- */

fieldset {
  text-align: left;
  border-color: var(--main-color);
}

fieldset legend {
  color: var(--main-color);
}

.formRow {
  margin: 5px;
}

.formRow .dataValue[type="checkbox"] {
  max-width: 5%;
}

.formRow textarea {
  resize: vertical;
  min-height: 150px;
}

.formRow .dataValue:focus,
.formRow textarea:focus {
  border: 1px solid var(--main-color);
}

input:invalid {
  border: 1px solid #4a360c;
  box-shadow: 0 0 10px #4a360c;
}

.searchResults {
  display: flex;
  flex-direction: column;
  max-height: 10em;
  position: absolute;
  z-index: 1;
  background-color: var(--background-color);
  overflow: auto;
  border: 1px solid var(--main-color);
}

.searchResults div:hover {
  cursor: pointer;
  background-color: var(--hover-row);
}

#app>div:nth-child(2) {
  margin-top: 30px;
}

/* GRID */

@supports (display: grid) {

  /* Document details grid areas */
  #Cover {
    grid-area: Cover;
  }

  #UpdateButtons {
    grid-area: UpdateButtons;
  }

  #MainInformation {
    grid-area: MainInformation;
  }

  /* Form grid areas */
  .formRow label {
    grid-area: label;
  }

  .formRow button {
    grid-area: label;
  }

  .formRow img {
    grid-area: input;
  }

  .formRow .dataValue {
    grid-area: input;
  }

  .formRow textarea {
    grid-area: input;
  }

  @media screen and (min-width: 1080px) {
    body {
      margin: auto;
    }

    #app {
      width: 1080px;
    }

    #DocumentDetails {
      display: grid;
      grid-template-areas: "Cover UpdateButtons" "Cover MainInformation";
      grid-template-columns: 40% 60%;
      grid-template-rows: none;
    }

    .formRow {
      display: grid;
      grid-template-areas: "label input";
      grid-template-columns: 20% 80%;
    }
  }

  @media screen and (min-width: 720px) and (max-width: 1080px) {
    body {
      margin: auto;
    }

    #app {
      min-width: 720px;
      max-width: 1080px;
    }

    #DocumentDetails {
      display: grid;
      grid-template-areas: "UpdateButtons" "MainInformation" "Cover";
    }

    .formRow {
      display: grid;
      grid-template-areas: "label input";
      grid-template-columns: 20% 80%;
    }
  }

  @media screen and (max-width: 720px) {
    :root {
      --margin: 8px;
      --size: 48px;
    }

    #DocumentDetails {
      display: grid;
      grid-template-areas: "UpdateButtons" "MainInformation" "Cover";
    }

    .formRow {
      display: grid;
      grid-template-areas: "label" "input";
    }

    input,
    button,
    #navigation>* {
      min-width: var(--size);
      min-height: var(--size);
      line-height: var(--size);
      vertical-align: middle;
    }

    input,
    button {
      margin: var(--margin);
    }

    #navigation>* {
      border: 1px solid var(--background-color);
    }
  }
}



@keyframes paging {
  to {
    transform: rotateY(-180deg);
    z-index: 100;
  }
}

@import './vt-table.css';
@import './loader.css';