.vt-table>table {
  border-collapse: collapse;
  width: 100%;
}

.vt-table td,
.vt-table th {
  border: 1px solid var(--col-bg);
  text-align: left;
  padding: 8px;
}

.vt-table th {
  text-align: center;
}

.vt-table tr:nth-child(even) {
  background-color: var(--col-bg);
}

.vt-table .cursor {
  cursor: pointer;
}

.vt-table .cursor:hover {
  background-color: var(--action-hover);
}