<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta name="theme-color" content="rgb(7, 124, 69)"/>
        <meta name="description" content="Media and loan referencing application."/>
        <meta name="keywords" content="libshare,library,document,share"/>
        <link rel="manifest" href="/manifest/manifest.json"/>
        <link rel="icon" href="assets/favicon.ico"/>
        <link rel="apple-touch-icon" href="/manifest/ios/192.png"/>
        <link rel="stylesheet" type="text/css" href="styles/libshare.css"/>
        <title>Libshare</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but Libshare doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
        </noscript>
        <script src="mocker/mockFetch.js"></script>
        <script src="variables.js"></script>
        <h1>Libshare</h1>
        <div id="app">
            <div id="navigation">
                <!-- use router-link component for navigation. -->
                <!-- specify the link by passing the `to` prop. -->
                <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
                <router-link to="/" id="RouterLink" title="Go to your library document list">Document list</router-link>
                <router-link to="/putDocument" id="AddDocument" title="Add a new document to your library">+ add document
                </router-link>
                <router-link to="/contact" title="View contact list">Contacts</router-link>
                <router-link to="/login" id="login" v-on:click.native="logout(this)" :title="logger">{{ logger }}</router-link>
                <router-link to="/register" id="register" v-on:click.native="logout(this)" title="Register">Register</router-link>
            </div>
            <!-- route outlet -->
            <!-- component matched by the route will render here -->
            <router-view></router-view>
        </div>
        <script src="router.js" type="module" defer></script>
    </body>
</html>
